@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
body {
  width: 414px;
  height: 884px;
  border: solid 5px #00c6ac;
  padding: 20px;
  font-family: "Fredoka One", cursive;
}
.Playlist {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Playlist__column {
  width: 33%;
}
.Playlist__column:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 40px;
  margin-left: 10px;
}
.Playlist__column:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.RandomLove {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.RandomLove__column:first-child {
  width: 160px;
  height: 160px;
  border: 3px solid black;
  border-radius: 15%;
  background-color: #ffbd12;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 50px;
  height: 50px;
  color: white;
}
.RandomLove__column:last-child {
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.RandomLove__column div:last-child {
  font-size: 20px;
  margin-top: 10px;
}
.RandomLove__column:last-child {
  width: 280px;
  height: 140px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.PlayHeartPlus {
  display: flex;
  font-size: 30px;
  margin-top: 20px;
}
.Play {
  margin: 10px;
  width: 200px;
  height: 70px;
  border: solid black;
  border-width: 3px 3px 7px 3px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.HeartPlus {
  margin: 10px;
  width: 70px;
  height: 70px;
  border: solid black;
  border-width: 3px 3px 7px 3px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
.ColorDiv {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}
.ColorBox {
  width: 70px;
  height: 70px;
  margin: 10px;
  border: 3px solid black;
  border-radius: 20px;
}
.ColorDiv__Explain {
  margin-left: 10px;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ColorDiv__Explain div:last-child {
  font-size: 20px;
  opacity: 50%;
  margin-top: 5px;
}
.Matargasti {
  background-color: #f85b2a;
}
.Attitude {
  background-color: #ff89bb;
}
.TryEverything {
  background-color: #1a47e4;
}
.Sunflower {
  background-color: #00c6ac;
}
