#more-main-screen {
  height: 110vh;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 30px;
}
.more-suggestions__title {
  margin-bottom: 35px;
  margin-left: 25px;
  font-weight: 600;
  font-size: 20px;
}
.more-suggestions__icons {
  display: flex;
  justify-content: stretch;
}
.more-suggestions__icon {
  width: 28%;
  margin: 0px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.more-suggestions__icon-image i {
  font-size: 32px;
  color: white;
}
